.mat-toolbar{
    background: linear-gradient(#1f4037,#99f2c8);
    margin-top: -24px;
    width: 20em;
    margin-left: -24px;
    color: white;
}

mat-dialog-container{
    background-color: black;
}

form{
    text-align: center;
}